@charset "UTF-8";

header > nav > ul{
    width: 100vw;
    height: 40px;
    background-color: bisque;
}


header > nav > ul > li{
    display: inline-block;
    width: 90px;
    background-color: rgb(159, 175, 159);
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
    border-radius: 80px;
}
header > nav > ul > li:hover{
    background-color: burlywood;
}