@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
body{
    height: 100%;
}

form{
    width: 96%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
form fieldset{
    padding: 40px;
    border: 3px solid #ccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form legend{
    text-align: left;
    font-size: 17px;
    color: rgb(130,130,130);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
form input[type=text]{
    display: inline-block;
    margin-top: 30px;
    width: 80%;
    padding: 10px 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
form input[type=text]:focus{
    outline: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form select{
    width:92%;
    margin-top: 30px;
    padding: 10px 13px;
    display: inline-block;
    border-color: darkgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form select:hover{
    background-color: rgba(214, 214, 214, 0.705);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form h2{
    margin-top: 20px;
    color: rgb(100,100,100);
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}
.radio-input{
    margin-top: 20px;
    text-align: left;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.radio-input span{
    margin-left: 13px;
    font-size: 16px;
    color: rgb(130,130,130);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.input{
    margin-top: 20px;
    text-align: left;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input span{
    margin-left: 13px;
    font-size: 16px;
    color: rgb(130,130,130);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form input[type=submit]{
    margin-top: 30px;
    width: 140px;
    height: 40px;
    border: 3px solid rgb(130,130,130);
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    background-color: rgb(140,140,140);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
textarea{
    border: 1px solid rgba(36, 30, 30, 0.493);
    border-radius: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    
}