@charset "utf-8";


#Div1>h1 {
    color: red;
    border: solid;
    padding: 10px;
}



.Div2 {
    font: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-size: 100px;
    border: solid;
    padding: 10px;

}

.Div3 {
    font-style: italic;
    padding: 10px;
    border-style: solid;


}

h4 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

table tr td {
    border: solid;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: darkgray;


}
